.actions-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 358px;
}

.actions-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.action-wrapper {
  width: 358px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action-container {
  display: flex;
  gap: 8px;
}

.action-icon {
  display: flex;
  justify-content: center;
  img {
    width: 36px;
    height: 36px;
  }
}

.action-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.action-description {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.action-point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #00cc00;
}
