.completed-items-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.completed-items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.completed-item-wrapper {
  padding: 16px 24px;

  width: 358px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.completed-item {
  display: flex;
  justify-content: space-between;
}

.completed-item-container {
  display: flex;
  gap: 8px;
}

.completed-item-icon {
  display: flex;
  justify-content: center;
  img {
    width: 36px;
    height: 36px;
  }
}

.completed-item-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.completed-item-point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #00cc00;
}
