.intro-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 21px 16px 15px 16px;
}

.intro-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-header {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  gap: 10px;
}

.intro-header div:first-child {
  font-weight: 700;
}

.intro-header div:last-child {
  font-weight: 900;
}

.subheader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.icon-wrapper {
  flex: 1;
  display: flex;
  padding: 29px;
}

.icon {
  flex: 1;
  background-image: url("https://www.nicepng.com/png/full/870-8707419_755-x-680-11-web-design-website-clip.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
