.poppup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 390px;
}

.poppup-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 100%;
  max-width: 358px;
}

.poppup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.poppup-cong-img {
  margin-top: 12px;
  margin-bottom: 17px;
}
.poppup-img {
  width: 72px;
  height: 72px;
}

.poppup-points {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0;
  color: #00cc00;
}

.poppup-header {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.poppup-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
  overflow: hidden;
}

.poppup-button-wrapper {
  width: 100%;
  margin-top: 32px;
  cursor: pointer;
}

.poppup-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  background: #000000;
  border-radius: 99px;
  color: white;
  height: 56px;
  width: 100%;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: ease-in-out 0.5s;
}

.poppup-button:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.7);
}
